<!DOCTYPE html>
<html lang='pt-BR'>
<head><meta charset='utf-8'><title>Cadastro</title><link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
</head><body>
<div class="container">
<div class='inic'><h2>Cadastro do Cliente</h2>
<style>
  input[type='text'] {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }

  .qtd-num {
    margin-top: 20px;
  }
</style>


<form method='post' action='/salvar_cliente'>
<input type='text' name='nome' placeholder='Nome completo' required>
<input type='text' name='cpf' placeholder='CPF' value='{{ cpf }}'>
<input type='text' name='telefone' placeholder='Telefone' required>
<input type='text' name='endereco' placeholder='Endereço' required>
<div class='qtd-num'><button type='submit'>Continuar</button></div>
</form>
</div></div>
</body></html>
