<!DOCTYPE html>
<html lang='pt-BR'>
<head><meta charset='utf-8'>
<title>Na Chapa Delivery</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head><body>

<div class="container">
<div class='inic'><h1>Na Chapa Delivery</h1>

<style>
  input[type='text'] {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }

  .qtd-num {
    margin-top: 20px;
  }
</style>

<form method='post' action='/verificar_cpf'>
<input type='text' name='cpf' placeholder='Digite seu CPF' required>
<div class='qtd-num'><button type='submit'>Continuar</button></form></div></div>
 </body></html></div>
